  <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Users
        </div>
        <div class="card-body table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
               <th class="sortable" data-sort="country">Email</th>
                
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td><%= user.email %></td>
              
                 
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>