<h1>Special Prices <%= params[:country] || '' %></h1>

<% if @backlinks.any? %>
 <%= render 'backlinks/link_table' %>
<% else %>
  <p>No new backlinks found for <%= params[:country] || 'all countries' %>.</p>
<% end %>
